<%= form_for [this_menu, this_item] do |f| %>
  <%= f.text_field :name, :placeholder => 'Item name' %><br>
  <%= f.text_field :price, :placeholder => 'Price' %><br>
  <%= f.text_field :description, :placeholder => 'Description' %><br>
  <%= f.submit "Add Item" %>
<% end %>

<% menu_items.each do |item| %>
  <% puts item.price %>
  <% puts "--------------------------" %>
  <span class='item-name'><%= item.name %></span> - $<span class='price'><%= cents_to_dollars(item.price) %></span><br>
  <span class='description'><%= item.description %></span><br>
<% end %>

